.Carrousel__img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
}

.Carrousel__Button--Left{
    position: absolute;
    top: 35%;
    left: 400px;
    border: none;
    color: white;
    cursor: pointer;
    background: none;
    font-size:180px
}
.Carrousel__Button--Right{
    position: absolute;
    top: 35%;
    right: 400px;
    border: none;
    color: white;
    cursor: pointer;
    background: none;
    font-size:180px
}

.Carrousel__Button--Left:hover{
    color: #FF6060;
}

.Carrousel__Button--Right:hover{
    color: #FF6060;
}

.Carrousel__p{
    position: absolute;
    bottom: 33%;
    left: 50%;
    color: white;
}

@media (max-width: 430px) {
    .Carrousel__img{
        height: 350px;
        width: 100%;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
    }
    
    .Carrousel__Button--Left{
        position: absolute;
        top:200px;
        left: 8%;
        border: none;
        color: white;
        cursor: pointer;
        background: none;
        font-size:100px
    }
    .Carrousel__Button--Right{
        position: absolute;
        top: 200px;
        right: 8%;
        border: none;
        color: white;
        cursor: pointer;
        background: none;
        font-size:100px
        
    }
    
    .Carrousel__Button--Left:hover{
        color: white;
    }
    
    .Carrousel__Button--Right:hover{
        color: white;
    }
    
    .Carrousel__p{
        position: absolute;
        top: 370px;
        left: 48%;
        color: rgb(255, 255, 255);
    }
}