@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-1 : "Montserrat", sans-serif;

.Footer__Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 75px;
    .Footer__Rigth{
        font-size: 24px;
        color: white;
        font-family: $font-1;
        padding-top: 25px;
    }
}
@media (max-width:430px) {
	.Footer__Container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: black;
		padding-top: 50px;
		padding-bottom: 25px;
        img {

	padding-bottom: 25px;
}.Footer__Rigth {
		font-size: 18px;
		color: white;
		font-family: "Montserrat", sans-serif;
		padding-top: 25px;
		margin: 0;
		padding: 0;
   }
   } 
	
  }