.Carrousel__img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.Carrousel__Button--Left{
    position: absolute;
    top: 35%;
    left: 20%;
    border: none;
    color: white;
    cursor: pointer;
}
.Carrousel__Button--Right{
    position: absolute;
    top: 35%;
    right: 20%;
    border: none;
    color: white;
    cursor: pointer;
}


.Carrousel__p{
    position: absolute;
    bottom: 33%;
    left: 50%;
    color: white;
}